@using Microsoft.AspNet.Identity
@using Task_MessageRepo_withoutDb.Models
@*@model IEnumerable<ApplicationUser>*@

@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>

<hr />
<p id="info">Для хранения юзеров была использована asp.net Identity. <br/>
   Хранение сообщений юзеров и любые операции с сообщениями проводятся <br />
   через использование json файла.</p>
<hr />

<h3>Hello @User.Identity.GetUserName() !</h3>

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input type="hidden" name="@User.Identity.GetUserName()" />
        @* @Html.HiddenFor(m => m.UserName)
            @Html.TextBox("Name", User.Identity.GetUserName())*@
        @*@Html.TextBox(User.Identity.Name, "Enter name")*@

        @Html.Label("enter a message (!Authorized person only!)") <br />
        <input type="text" name="LastMessage" />
        <p><input type="submit" value="Send message" /></p>
    }
</div>

<div class="table">
    <h3>List of Users</h3>
    <table>
        <tr>
            <th><p>Id</p></th>
            <th><p>Name</p></th>
            <th><p>Last Message</p></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var v in ViewBag.Customers)
        {
            <tr>
                <td><p>@v.Id</p></td>
                <td><p>@v.UserName</p></td>
                <td><p>@v.LastMessage</p></td>
                <td><p><a href="/Home/ViewMyMessages/@v.Id">View user messages</a></p></td>
                <td><p><a href="/Home/ViewAllMessages/@v.Id">View ALL messages</a></p></td>
                <td><p><a href="/Account/Delete/@v.Id">Delete user</a></p></td>
            </tr>
        }
    </table>
</div>